@font-face {
    font-family: 'Lato';
    src: url('./recursos/tipografias/Lato-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./recursos/tipografias/Lato-Bold.ttf');
    font-weight: bold;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

body{
    background: #fff;
    font-family: 'Lato';
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

header{
    background:#000;
    height: 65px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar{
    margin-right: 10px;
}

.navbar__link{
    color: #fff;
}

.navbar__samsung{
    display: inline-block;
    font-weight: bold;
    padding: 5px;
}

.navbar__apple{
    display: inline-block;
    font-weight: bold;
    padding: 5px;
}

.navbar__contacto{
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 5px;
}


.pie-pagina{
    display: flex;
    justify-content:center;
}

.hero__imagen{
    background-image: url('./recursos/imagenes/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    color: white;
}

/*Pagina Samsung*/

.tarjeta-samsung {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 292px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-samsung__imagen {
   border-radius: 10px; 
}

.lista{
    padding: 5px;
}
.lista__samsung{
    padding: 5px;
}

.watch {
    padding-top: 50px;
    padding-left: 10px;
}

.tarjeta-samsung-watch {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 292px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-samsung-watch__imagen {
    border-radius: 10px; 
 }

.samsung__titulo{
    padding-left: 10px;
}

.smartphone__titulo{
    padding-left: 10px;
}

.tarjeta-samsung-truewireless {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 292px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-samsung-truewireless__imagen {
    border-radius: 10px; 
 }

.truewireless{
    padding-left: 10px;
    padding-top: 50px;
}

.apple__encabezado{
    padding-left: 10px;
}

.iphone__titulo{
    padding-top: 50px;
}

.tarjeta-apple {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 292px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-apple__imagen {
    border-radius: 10px; 
 }

.lista__apple{
    padding: 5px;
}

.apple-watch__titulo{
    padding-top: 50px;
    padding-left: 10px;
}

.apple-airpods__titulo{
    padding-top: 50px;
    padding-left: 10px;
}

/* Pagina Samsung Galaxy S22 */

.galaxys22__foto{
    width: 450px;
    height: 600px;
    border-radius: 10px;
    margin: 15px;
}

.procesador__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__procesador {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__procesador {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.pantalla__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__pantalla {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__pantalla {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.camara__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__camara {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__camara {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.memoria__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__memoria {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__memoria {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.redes__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__redes {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__redes {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.conectividad__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__conectividad {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__conectividad {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.sistema__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__sistema {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__sistema {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.sensores__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__sensores {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__sensores {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.dimensiones__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__dimensiones {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__dimensiones {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.bateria__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__bateria {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__bateria {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

.audio__titulo{
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;  
    width: 260px;
    margin: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
}

.especificaciones__audio {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.seccion__audio {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    /* width: 1000px; */
    margin: 10px;
    background-size: cover;
}

/* Pagina Iphone 14 Pro */

.iphone14__foto{
    width: 450px;
    height: 600px;
    border-radius: 10px;
    margin: 15px;
}

/* Pagina Contacto */

.forma__input{
    font-family: inherit;
}

.forma{
    background-color: #eee;
    width: 400px;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
}

.forma__contenedor{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-auto-columns: 100%;
}   
   
