.apple__encabezado{
    padding-left: 10px;
}

.iphone__titulo{
    padding-top: 50px;
}

.tarjeta-apple {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 292px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-apple__imagen {
    border-radius: 10px; 
 }

.lista__apple{
    padding: 5px;
}

.apple-watch__titulo{
    padding-top: 50px;
    padding-left: 10px;
}

.apple-airpods__titulo{
    padding-top: 50px;
    padding-left: 10px;
}