*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

@font-face {
    font-family: 'Lato';
    src: url('../recursos/tipografias/Lato-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../recursos/tipografias/Lato-Bold.ttf');
    font-weight: bold;
}

body{
    background: #fff;
    font-family: 'Lato';
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

@media only screen and (max-width: 575px){

    .grupo-tarjeta-samsung{
     grid-template-columns: 1fr;
     grid-template-rows: repeat(5, 1fr);
     justify-content: center;
     gap: 20px;
    }
 
    .tarjeta-samsung{
     width: 272px;
    }
 
    header ul{
     display: none;
    }
    header span{
     display: block;
    }
 }
 