// Paginas Samsung
.galaxys22__foto{
    width: 450px;
    height: 600px;
    border-radius: 10px;
    margin: 15px;
}

.caracteristica{
    padding-left: 20px;
    padding-right: 20px;
    width: 360px;
}

.procesador__titulo{
    background-color: #eee;
    border-radius: 10px; 
    width: 260px;
}

.seccion__procesador {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.pantalla__titulo{
    background-color: #eee;
    border-radius: 10px;  
    width: 260px;
}

.seccion__pantalla {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.camara__titulo{
    background-color: #eee;
    border-radius: 10px;  
    width: 260px;
}

.seccion__camara {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.memoria__titulo{
    background-color: #eee;
    border-radius: 10px;  
    width: 260px;
}

.seccion__memoria {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.redes__titulo{
    background-color: #eee;
    border-radius: 10px;  
    width: 260px;
}

.seccion__redes {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.conectividad__titulo{
    background-color: #eee;
    border-radius: 10px;  
    width: 260px;
}

.seccion__conectividad {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.sistema__titulo{
    background-color: #eee;
    border-radius: 10px;  
    width: 260px;
}

.seccion__sistema {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.sensores__titulo{
    background-color: #eee;
    border-radius: 10px; 
    width: 260px;
}

.seccion__sensores {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.dimensiones__titulo{
    background-color: #eee;
    border-radius: 10px; 
    width: 260px;
}

.seccion__dimensiones {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.bateria__titulo{
    background-color: #eee;
    border-radius: 10px; 
    width: 260px;
}

.seccion__bateria {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

.audio__titulo{
    background-color: #eee;
    border-radius: 10px; 
    width: 260px;
}

.seccion__audio {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
}

/* Pagina Iphone 14 Pro */

.iphone14__foto{
    width: 450px;
    height: 600px;
    border-radius: 10px;
    margin: 15px;
}

/* Pagina Contacto */

.forma__input{
    font-family: inherit;
}

.forma{
    background-color: #eee;
    width: 400px;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
}

.forma__contenedor{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-auto-columns: 100%;
} 
