.tarjeta-samsung {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 292px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-samsung__imagen {
   border-radius: 10px; 
}

.lista{
    padding: 5px;
}
.lista__samsung{
    padding: 5px;
}

.watch {
    padding-top: 50px;
    padding-left: 10px;
}

.tarjeta-samsung-watch {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 292px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-samsung-watch__imagen {
    border-radius: 10px; 
 }

.samsung__titulo{
    padding-left: 10px;
}

.smartphone__titulo{
    padding-left: 10px;
}

.tarjeta-samsung-truewireless {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 292px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-samsung-truewireless__imagen {
    border-radius: 10px; 
 }

.truewireless{
    padding-left: 10px;
    padding-top: 50px;
}
